@page "/"
@rendermode RenderMode.InteractiveServer
@using LeadTimeCalculator.Client.Data
@using Radzen
@using Radzen.Blazor

<PageTitle>@PageTitle</PageTitle>
<RadzenDialog />

<RadzenMenu >
    <RadzenMenuItem 
        Text="Add Workday Calendar" 
        Click="AddCalendar"
        Disabled="_selectedCalendar is not null"
        Icon="add"  />
    <RadzenMenuItem 
        Text="Add Holiday" 
        Disabled="_selectedCalendar is null"
        Click="ShowAddHolidayDialogAsync"
        Icon="add"  />
    <RadzenMenuItem 
        Text="Add Exception Day" 
        Disabled="_selectedCalendar is null"
        Icon="add"  />
</RadzenMenu>

@if(_selectedCalendar is not null) 
{
    <RadzenScheduler 
        SlotRender=@OnSlotRender 
        style="height: 768px;" 
        TItem="Appointment" 
        Data=@_appointments 
        StartProperty="Start" 
        EndProperty="End"
        TextProperty="Text" 
        SelectedIndex="0"
        LoadData=@OnSchedulerLoadData
        SlotSelect=@OnSlotSelect
        AppointmentSelect=@OnAppointmentSelect 
        AppointmentRender=@OnAppointmentRender
        AppointmentMove=@OnAppointmentMove>
            <RadzenMonthView />
    </RadzenScheduler>
}
else 
{
    <p>No selected calendar, create one if not exists.</p>
}


@code {
    Dictionary<DateTime, string> events = new Dictionary<DateTime, string>();

    void OnSlotRender(SchedulerSlotRenderEventArgs args)
    {
        // Highlight today in month view
        if (args.View.Text == "Month" && args.Start.Date == DateTime.Today)
        {
            args.Attributes["style"] = "background: var(--rz-scheduler-highlight-background-color, rgba(255,220,40,.2));";
        }

        // Highlight working hours (9-18)
        if ((args.View.Text == "Week" || args.View.Text == "Day") && args.Start.Hour > 8 && args.Start.Hour < 19)
        {
            args.Attributes["style"] = "background: var(--rz-scheduler-highlight-background-color, rgba(255,220,40,.2));";
        }
    }

    async Task OnSlotSelect(SchedulerSlotSelectEventArgs args)
    {
        if (args.View.Text != "Year")
        {
            // Appointment data = await DialogService.OpenAsync<AddAppointmentPage>("Add Appointment",
            //     new Dictionary<string, object> { { "Start", args.Start }, { "End", args.End } });

            // if (data != null)
            // {
            //     appointments.Add(data);
            //     // Either call the Reload method or reassign the Data property of the Scheduler
            //     await scheduler.Reload();
            // }
        }
    }

    async Task OnAppointmentSelect(SchedulerAppointmentSelectEventArgs<Appointment> args)
    {
        var copy = new Appointment
        {
            Start = args.Data.Start,
            End = args.Data.End,
            Text = args.Data.Text
        };

        // var data = await DialogService.OpenAsync<EditAppointmentPage>("Edit Appointment", new Dictionary<string, object> { { "Appointment", copy } });

        // if (data != null)
        // {
        //     // Update the appointment
        //     args.Data.Start = data.Start;
        //     args.Data.End = data.End;
        //     args.Data.Text = data.Text;
        // }

        // await scheduler.Reload();
    }

    void OnAppointmentRender(SchedulerAppointmentRenderEventArgs<Appointment> args)
    {
        if (args.Data.Text.Contains("Holiday"))
        {
            args.Attributes["style"] = "background: red";
        }
        else if(args.Data.Text == "Exception Day") 
        {
            args.Attributes["style"] = "background: yellow";
        }
    }

    async Task OnAppointmentMove(SchedulerAppointmentMoveEventArgs args)
    {
        var draggedAppointment = _appointments.FirstOrDefault(x => x == args.Appointment.Data);

        if (draggedAppointment != null)
        {
            draggedAppointment.Start = draggedAppointment.Start + args.TimeSpan;

            draggedAppointment.End = draggedAppointment.End + args.TimeSpan;

            // await scheduler.Reload();
        }
    }
}