@inherits LayoutComponentBase

<RadzenDialog />

<div class="page">
    <main>
        <nav class="d-flex justify-content-between align-items-center">
            <a class="navbar-brand text-white" href="">LeadTimeCalculator</a>

            <div class="flex gap-4">
                <a 
                    class="text-white"
                    style="text-decoration: underline;"
                    href="@LeadTimeCalculatorRoutes.WORKDAY_CALENDAR">Calendar</a>
                <a 
                    class="text-white"
                    style="text-decoration: underline;"
                    href="@LeadTimeCalculatorRoutes.PRODUCABLE_PRODUCTS">Products</a>
            </div>
        </nav>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
